<ng-container *ngIf="post">

    <div class="card my-3">
        <div class="card-header d-flex align-items-start">
            <img
                [src]="getPostAuthorAvatarUrl()"
                class="avatar mr-3 rounded"
                alt
            >
            <div class="flex-fill">
                <h4>{{ post.author.name }}</h4>
                <small>{{ post.createdTime | myDate }}</small>
            </div>
        </div>
        <img
            [src]="post.images[0]"
            class="card-img-top"
            alt="..."
        >
        <div class="card-body">
            <!-- <h5 class="card-title">{{ post.id }}</h5> -->
            <p class="card-text">{{ post.body }}</p>
        </div>

        <div class="card-footer">
            <app-comment-list></app-comment-list>
        </div>
    </div>

</ng-container>
