
<div class="card my-3">
    <div class="card-body">
       <form [formGroup]="addPostForm" (ngSubmit)="onSubmit() ">
            <div class="form-group row">
        
                <div class="col-10">
                      <textarea 
                        class="form-control"
                        name="body"
                        placeholder="Napisz post"
                        formControlName="body"
                        ></textarea>
                <button 
                  type="submit"
                  class="btn btn-primary">
                    Dodaj
                </button>
            </div>
        
          </div>

<div class="row text-danger">

    <ul>
        <li *ngIf="body.dirty && body.invalid">Aby dodać komentarz, wpisz tekst</li>
        <li *ngIf="body.dirty && body.invalid">Za mało znaków  </li>

    </ul>

</div>

        </form>
        
    </div>
</div>