<ng-container *ngIf="post">

    <div
        class="card my-3"
        appHighlight
    >
        <div class="card-header d-flex align-items-start">
            <img
                [src]="getPostAuthorAvatarUrl()"
                class="avatar mr-3 rounded"
                alt
            >
            <div class="flex-fill">
                <h4>{{ post.author.name }}</h4>
                <a [routerLink]="getPostUrl()">
                    <small>{{ post.createdTime | myDate }}</small>
                </a>
            </div>
        </div>
        <img
            [src]="post.images[0]"
            class="card-img-top"
            alt="..."
        >
        <div class="card-body">
            <!-- <h5 class="card-title">{{ post.id }}</h5> -->
            <p class="card-text">{{ post.body }}</p>
        </div>

        <div class="card-footer">
            <app-comment-list
                [comments]=post.comments>
            </app-comment-list>
        </div>
    </div>

</ng-container>
